opencv-python~=4.5.5.64
matplotlib~=3.5.1
numpy~=1.22.3
torch~=1.11.0
torchvision~=0.12.0
pandas~=1.4.2
git+https://github.com/openai/CLIP.git@main#egg=clip
Pillow~=9.1.0
argparse~=1.4.0
scikit-learn~=1.0.2
pyarrow~=7.0.0
tqdm~=4.64.0